<div class="container">
  <div class="form-group">
    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="id"
        (keydown)="getEvent('id')"
        [(ngModel)]="product.id"
      />
      <label for="id">ID</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="title"
        (keydown)="getEvent('title')"
        [(ngModel)]="product.title"
      />
      <label for="title">Title</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="description"
        (keydown)="getEvent('description')"
        [(ngModel)]="product.description"
      />
      <label for="description">Description</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="category"
        (keydown)="getEvent('category')"
        [(ngModel)]="product.category"
      />
      <label for="category">Category</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="price"
        (keydown)="getEvent('price')"
        [(ngModel)]="product.price"
      />
      <label for="price">Price</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="discountPercentage"
        (keydown)="getEvent('discountPercentage')"
        [(ngModel)]="product.discountPercentage"
      />
      <label for="discountPercentage">Discount Percentage</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="rating"
        (keydown)="getEvent('rating')"
        [(ngModel)]="product.rating"
      />
      <label for="rating">Rating</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="stock"
        (keydown)="getEvent('stock')"
        [(ngModel)]="product.stock"
      />
      <label for="stock">Stock</label>
    </p-floatLabel>

    <!-- Tags -->
    <div
      class="form-group"
      *ngFor="let tag of product.tags; let i = index; trackBy: trackByFn"
    >
      <p-floatLabel class="p-floatLabel" label="My Label">
        <input
          pInputText
          id="tag-{{ i }}"
          (keydown)="getEvent('tag')"
          [(ngModel)]="product.tags[i]"
          placeholder="Tag"
        />
        <label for="tag-{{ i }}">Tag</label>
        <span class="input-icons">
          <i
            class="pi pi-plus"
            (keydown)="addTag()"
            style="cursor: pointer"
          ></i>
          <i
            class="pi pi-times"
            (keydown)="removeTag(i)"
            style="cursor: pointer"
          ></i>
        </span>
      </p-floatLabel>
    </div>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="brand"
        (keydown)="getEvent('brand')"
        [(ngModel)]="product.brand"
      />
      <label for="brand">Brand</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="sku"
        (keydown)="getEvent('sku')"
        [(ngModel)]="product.sku"
      />
      <label for="sku">SKU</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="weight"
        (keydown)="getEvent('weight')"
        [(ngModel)]="product.weight"
      />
      <label for="weight">Weight</label>
    </p-floatLabel>

    <!-- Dimensions -->
    <div class="form-group">
      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="width"
          (keydown)="getEvent('width')"
          [(ngModel)]="product.dimensions.width"
        />
        <label for="width">Width</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="height"
          (keydown)="getEvent('height')"
          [(ngModel)]="product.dimensions.height"
        />
        <label for="height">Height</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="depth"
          (keydown)="getEvent('depth')"
          [(ngModel)]="product.dimensions.depth"
        />
        <label for="depth">Depth</label>
      </p-floatLabel>
    </div>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="warrantyInformation"
        (keydown)="getEvent('warrantyInformation')"
        [(ngModel)]="product.warrantyInformation"
      />
      <label for="warrantyInformation">Warranty Information</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="shippingInformation"
        (keydown)="getEvent('shippingInformation')"
        [(ngModel)]="product.shippingInformation"
      />
      <label for="shippingInformation">Shipping Information</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="availabilityStatus"
        (keydown)="getEvent('availabilityStatus')"
        [(ngModel)]="product.availabilityStatus"
      />
      <label for="availabilityStatus">Availability Status</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="returnPolicy"
        (keydown)="getEvent('returnPolicy')"
        [(ngModel)]="product.returnPolicy"
      />
      <label for="returnPolicy">Return Policy</label>
    </p-floatLabel>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="minimumOrderQuantity"
        (keydown)="getEvent('minimumOrderQuantity')"
        [(ngModel)]="product.minimumOrderQuantity"
      />
      <label for="minimumOrderQuantity">Minimum Order Quantity</label>
    </p-floatLabel>

    <div class="form-group">
      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="createdAt"
          (keydown)="getEvent('createdAt')"
          [(ngModel)]="product.meta.createdAt"
        />
        <label for="createdAt">Created At</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="updatedAt"
          (keydown)="getEvent('updatedAt')"
          [(ngModel)]="product.meta.updatedAt"
        />
        <label for="updatedAt">Updated At</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="barcode"
          (keydown)="getEvent('barcode')"
          [(ngModel)]="product.meta.barcode"
        />
        <label for="barcode">Barcode</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="qrCode"
          (keydown)="getEvent('qrCode')"
          [(ngModel)]="product.meta.qrCode"
        />
        <label for="qrCode">QR Code</label>
      </p-floatLabel>
    </div>

    <p-floatLabel class="p-floatLabel">
      <input
        pInputText
        id="thumbnail"
        (keydown)="getEvent('thumbnail')"
        [(ngModel)]="product.thumbnail"
      />
      <label for="thumbnail">Thumbnail</label>
    </p-floatLabel>

    <div
      class="form-group"
      *ngFor="let image of product.images; let i = index; trackBy: trackByFn"
    >
      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="image-{{ i }}"
          (keydown)="getEvent('image')"
          [(ngModel)]="product.images[i]"
          placeholder="Image URL"
        />
        <label for="image-{{ i }}">Image</label>
        <span class="input-icons">
          <i
            class="pi pi-plus"
            (keydown)="addImage()"
            style="cursor: pointer"
          ></i>
          <i
            class="pi pi-times"
            (keydown)="removeImage(i)"
            style="cursor: pointer"
          ></i>
        </span>
      </p-floatLabel>
    </div>

    <div
      class="form-group"
      *ngFor="let review of product.reviews; let i = index; trackBy: trackByFn"
    >
      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="user-{{ i }}"
          (keydown)="getEvent('user')"
          [(ngModel)]="product.reviews[i].user"
          placeholder="User Name"
        />
        <label for="user-{{ i }}">User</label>
        <span class="input-icons">
          <i
            class="pi pi-plus"
            (keydown)="addReview()"
            style="cursor: pointer"
          ></i>
          <i
            class="pi pi-times"
            (keydown)="removeReview(i)"
            style="cursor: pointer"
          ></i>
        </span>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="rating-{{ i }}"
          (keydown)="getEvent('rating-{{i}}')"
          [(ngModel)]="product.reviews[i].rating"
          placeholder="Rating"
        />
        <label for="rating-{{ i }}">Rating</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="comment-{{ i }}"
          (keydown)="getEvent('comment-{{i}}')"
          [(ngModel)]="product.reviews[i].comment"
          placeholder="Comment"
        />
        <label for="comment-{{ i }}">Comment</label>
      </p-floatLabel>

      <p-floatLabel class="p-floatLabel">
        <input
          pInputText
          id="date-{{ i }}"
          (keydown)="getEvent('date-{{i}}')"
          [(ngModel)]="product.reviews[i].date"
          placeholder="Date"
        />
        <label for="date-{{ i }}">Date</label>
      </p-floatLabel>
    </div>

    <div class="form-group">
      <p-button
        label="Submit"
        (keydown)="onSubmit()"
        [text]="true"
        severity="success"
      />
    </div>
  </div>
</div>
