/* Container for the entire layout */
.container {
  background: linear-gradient(to bottom right, #f0f4f8, #d9e2ec);
  min-height: 100vh;
  padding: 20px;
}

/* Header/Navbar with gradient effect */
.header {
  background: linear-gradient(
    90deg,
    rgba(207, 202, 202, 0.63),
    rgba(255, 255, 255, 0.63)
  );
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.notification-badge {
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  margin-left: 10px;
}

/* Header Actions */
.header-actions {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  margin-right: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.preview-btn {
  background-color: #f3f4f6;
  color: #333;
}

.code-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.user-avatar {
  border-radius: 50%;
  margin-left: 20px;
}
